.loader-wrapper {
  display: flex;
  justify-content: center;
}

.loader {
  border: 16px solid var(--color-text-light);
  border-radius: 50%;
  border-top: 16px solid var(--color-primary);
  width: 8rem;
  height: 8rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}