:root {
  font-size: 60%;

  --color-background: #FFFFFF;
  --color-primary: #FF1510;
  --color-primary-light: #FDECEC;
  --color-secondary: #E7F6E7;
  --color-text-base: #404040;
  --color-text-secondary: #8C8C8C;
  --color-text-light: #B9B9B9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Work Sans;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}