:root {
  font-size: 60%;

  --color-background: #ffffff;
  --color-primary: #ff1510;
  --color-primary-light: #fdecec;
  --color-secondary: #e7f6e7;
  --color-text-base: #404040;
  --color-text-secondary: #8c8c8c;
  --color-text-light: #b9b9b9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: var(--color-background);
  position: relative;
  margin: 0;
  padding-bottom: 2rem;
  min-height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Work Sans;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
